<section class="footer">
    <div class="blogroll">
        <dl> Blogroll
            <dt><a href="http://fhildebrandt.de" target="_blank">Frank Hildebrandt</a></dt>
            <dt><a href="http://cwreden.de" target="_blank">Christian Wreden</a></dt>
        </dl>
    </div>
    <div class="contact socialbookmarks">
        <a href="https://www.facebook.com/andre.meyerjuergens">
            <div id="socialbookmark-facebook"></div>
        </a>
        <a href="https://plus.google.com/+AndréMeyerjürgens">
            <div id="socialbookmark-google"></div>
        </a>
        <a href="https://github.com/daxtero">
            <div id="socialbookmark-github"></div>
        </a>
        <a href="https://twitter.com/daxterooo">
            <div id="socialbookmark-twitter"></div>
        </a>
        <a href="https://www.xing.com/profiles/Andre_Meyerjuergens">
            <div id="socialbookmark-xing"></div>
        </a>
    </div>
    <div class="copyright">
        Copyright 2014 André Meyerjürgens
    </div>
</section>